<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    {% if title %}
    <title>RoboHack -- {{ title }}</title>
    {% else %}
      <title>RoboHack</title>
    {% endif %}
    {% block scripts %}
    {% endblock scripts %}
  </head>
  <body>
    {% block content %}
    {% endblock content %}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', () => {
    console.log("Hi there")
    const t1 = document.querySelector('#team1')
    const t2 = document.querySelector('#team2')

    t1.style.display = "none"
    t2.style.display = "none"

    document.addEventListener('click',event => {

        if (event.target.id === "teamSize"){
            loadTemplate()
        }
        if (event.target.id === "submit"){
            destruction()
        }
    });


    function loadTemplate(){

        const size = document.querySelector('#teamSize').value
        console.log(size)
        if (size == 1){
            t1.style.display = "none"
            t2.style.display = "none"
        }
        else if(size == 2){
            t1.style.display = "block"
            t2.style.display = "none"
        }
        else if(size == 3){
            t1.style.display = "block"
            t2.style.display = "block"
        }
    }
    function destruction(){
        t1.parentNode.removeChild(t1)
        t2.parentNode.removeChild(t2)
    }
});
    </script>
  </body>
</html>