{% extends 'layout.html' %}

{% block scripts %}
{% endblock scripts %}

{% block content %}
<div class="container pt-5 col-lg-4 col-md-6 rounded">
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Sign Up</legend>
                        <div class="form-group">
                            {{ form.teamname.label(class="form-control-label") }}
                            {% if form.teamname.errors %}
                                {{ form.teamname(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.teamname.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.teamname(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                <div class="form-group">
                    {{ form.teamCaptain.label(class="form-control-label") }}
                    {% if form.teamCaptain.errors %}
                        {{ form.teamCaptain(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.teamCaptain.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.teamCaptain(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                            {{ form.teamSize.label(class="form-control-label") }}
                            {% if form.teamSize.errors %}
                                {{ form.teamSize(class="form-control form-control-lg is-invalid", id="teamSize") }}
                                <div class="invalid-feedback">
                                    {% for error in form.teamSize.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                    {{ form.teamSize(class="form-control form-control-lg", id="teamSize") }}
                    {% endif %}
                </div>
                <div class="form-group" id="team1">
                    {{ form.teamMember_1.label(class="form-control-label") }}
                    {% if form.teamMember_1.errors %}
                        {{ form.teamMember_1(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.teamMember_1.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.teamMember_1(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group" id="team2">
                    {{ form.teamMember_2.label(class="form-control-label") }}
                    {% if form.teamMember_2.errors %}
                        {{ form.teamMember_2(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.teamMember_2.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.teamMember_2(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                            {{ form.themes.label(class="form-control-label") }}
                            {% if form.themes.errors %}
                                {{ form.themes(class="form-control form-control-lg is-invalid", id="themes") }}
                                <div class="invalid-feedback">
                                    {% for error in form.themes.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                    {{ form.themes(class="form-control form-control-lg", id="themes") }}
                    {% endif %}
                </div>
                <div class="form-group">
                        {{ form.recaptcha(class="form-control form-control-lg") }}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info",id="submit") }}
            </div>
        </form>
    </div>
    <div class="border-top pt-3">
        <small class="text-muted">
            Already Have An Account? <a class="ml-2" href="#">Sign In</a>
        </small>
    </div>
</div>
{% endblock content%}